{% extends 'base.html' %}

{% block main %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ profile.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">{{ profile.name }}</h1>
                        <p>
                            {% for goal in profile_goals %}
                            <span class="badge badge-secondary mr-2">{{ goal.display_name }}</span>
                            {% endfor %}
                            Рейтинг: {{ profile.rating }} Ставка: {{ profile.price}} / час
                        </p>
                        <p>{{ profile.about }}</p>

                    </section>

                    <section class="available">

                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

                        {% for day, free_dict in profile_free.items() %}
                            <h6 class="mt-4">{{ map_to_day_of_week[day] }}</h6>
                            {% if not free_dict %}
                                <div class="ml-5">
                                    Нет свободных уроков
                                </div>
                            {% else %}
                                {% for time, is_free in free_dict.items() %}
                                    {% if is_free %}
                                        <a
                                                href="{{ url_for('render_booking', teacher_id=profile.id, day_of_week=day, time=time.split(':')[0]) }}"
                                                class="btn btn-outline-success mr-2 mb-2">
                                            {{ time }} свободно
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    </section>

                </div>
            </article>
        </div>

    </div>
</main>
{% endblock %}
