{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/request.css') }}">
{% endblock %}

{% block main %}
<main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
        <form class="card mb-5" method="post">
            {{ form.csrf_token }}
            <div class="card-body text-center pt-5">
                <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
                <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
            </div>
            <hr>
            <div class="card-body mx-3">
                <div class="row">
                    <div class="col">
                        {{ form.request_goal.label }}
                        {{ form.request_goal(class='form-check') }}
                    </div>
                    <div class="col">
                        {{ form.request_time.label }}
                        {{ form.request_time(class='form-check') }}
                    </div>
                </div>
                <hr>
                <div class="card-body mx-3">
                    {{ form.request_name.label(class='mb-1 mt-2') }}
                    {{ form.request_name(class='form-control') }}

                    {{ form.request_phone.label(class='mb-1 mt-2') }}
                    {{ form.request_phone(class='form-control') }}

                    {{ form.submit(class='btn btn-primary mt-4 mb-2') }}
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
