{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/request.css') }}">
{% endblock %}

{% block main %}
<main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
        <form action="{{ url_for('render_request_done') }}" class="card mb-5" method="post">
            <div class="card-body text-center pt-5">
                <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
                <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
            </div>
            <hr>
            <div class="card-body mx-3">
                <div class="row">
                    <div class="col">
                        {{ form.request_goal.label }}
                        {{ form.request_goal(class='form-check') }}
                        <!--                        <p>Какая цель занятий?</p>-->
                        <!--                        <div class="form-check ">-->
                        <!--                            <input type="radio" class="form-check-input" name="goal" value="travel" id="goal1" checked>-->
                        <!--                            <label class="form-check-label" for="goal1">-->
                        <!--                                Для путешествий-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check ">-->
                        <!--                            <input type="radio" class="form-check-input" name="goal" value="learn" id="goal2">-->
                        <!--                            <label class="form-check-label" for="goal2">-->
                        <!--                                Для школы-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check ">-->
                        <!--                            <input type="radio" class="form-check-input" name="goal" value="work" id="goal3">-->
                        <!--                            <label class="form-check-label" for="goal2">-->
                        <!--                                Для работы-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check ">-->
                        <!--                            <input type="radio" class="form-check-input" name="goal" value="move" id="goal4">-->
                        <!--                            <label class="form-check-label" for="goal2">-->
                        <!--                                Для переезда-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col">
                        {{ form.request_time.label }}
                        {{ form.request_time(class='form-check') }}
                        <!--                        <p>Сколько времени есть?</p>-->
                        <!--                        <div class="form-check">-->
                        <!--                            <input type="radio" class="form-check-input" name="time" value="1-2" id="time1">-->
                        <!--                            <label class="form-check-label" for="time1">-->
                        <!--                                1-2 часа в&nbsp;неделю-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check">-->
                        <!--                            <input type="radio" class="form-check-input" name="time" value="3-5" id="time2">-->
                        <!--                            <label class="form-check-label" for="time2">-->
                        <!--                                3-5 часов в&nbsp;неделю-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check">-->
                        <!--                            <input type="radio" class="form-check-input" name="time" value="5-7" id="time3" checked>-->
                        <!--                            <label class="form-check-label" for="time3">-->
                        <!--                                5-7 часов в&nbsp;неделю-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check">-->
                        <!--                            <input type="radio" class="form-check-input" name="time" value="7-10" id="time4">-->
                        <!--                            <label class="form-check-label" for="time4">-->
                        <!--                                7-10 часов в&nbsp;неделю-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                    </div>
                </div>
                <hr>
                <div class="card-body mx-3">
                    {{ form.request_name.label(class='mb-1 mt-2') }}
                    {{ form.request_name(class='form-control') }}
                    <!--                <label class="mb-1 mt-2">Вас зовут</label>-->
                    <!--                <input class="form-control" type="text" placeholder="">-->

                    {{ form.request_phone.label(class='mb-1 mt-2') }}
                    {{ form.request_phone(class='form-control') }}
                    <!--                <label class="mb-1 mt-2">Ваш телефон</label>-->
                    <!--                <input class="form-control" type="text" placeholder="">-->

                    {{ form.submit(class='btn btn-primary mt-4 mb-2') }}
                    <!--                <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">-->
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
